head
    link(rel="stylesheet" href="/public/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/fa/css/fontawesome.min.css")
    link(rel="stylesheet" href="/public/css/app.css")
body
    #app
    script(src="/public/main.js")
    script(src="/reload/reload.js")
