<template lang="pug">
.div
  NavBar.mb-3
    img(src="/public/icons/ntof-logo8.png" height="30" slot="logo")
    NavBarItem(:path='route.path' v-for="route in navRoutes") {{ route.name }}
  .container-fluid
    transition(v-on:enter="enter" v-on:leave="leave" v-bind:css="false" appear)
      router-view(:key="this.$route.name")
</template>

<script>

import './App.css'
import _ from 'lodash'
import bs from 'bootstrap'
import Vue from 'vue'
import VueRouter from 'vue-router'

import Anim from './BaseAnimation'

import NavBar from './BaseNavBar.vue'
import NavBarItem from './BaseNavBarItem.vue'

import routes from './AppRoutes.js'

Vue.use(VueRouter);

const router = new VueRouter({ routes });

export default {
  router: router,
  computed: {
    navRoutes() {
      return _.filter(this.$router.options.routes, (r) => r.navbar !== false);
    }
  },
  methods: {
    enter(el, done) {
      Anim.pageIn(el, done);
    },
    leave(el, done) {
      Anim.pageOut(el, done);
    }
  },
  components: { NavBar, NavBarItem }
}
</script>

<style scoped>
</style>
