.row-hover:hover {
  background-color: rgba(0, 0, 0, .075);
}
.clickable:hover {
  cursor: pointer;
}
.abs-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.abs-top-center {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0);
}
