<template lang="pug">
.container-fluid
  .row
    .order-2.col-12.order-md-1.col-md-8.col-lg-6.offset-lg-1
      .card
        .card-header
          | #[span.red n]_TOF DAQ home page

        .card-body
          | This site is intended for #[span.red n]_TOF users that want to retrieve informations about our samples and electronic runbook.
          | These data are stored in a database, so it is also possible to combine these informations to obtain statistics for a given sample.

      .card.mt-3
        .card-header Features
        ul.list-group
          li.list-group-item
            router-link(to="/materials") Samples database
            |  - Provide a description of all the samples used at #[span.red n]_TOF. The possibility to add or modify samples depend on the login used.
          li.list-group-item
            router-link(to="/EAR1") Electronic runbook in experiment EAR1
            | - The electronic runbook displays the following informations about a run: date, number of events, the run description, proton beam, sample and filters informations, amount of data acquired, ADC and high-voltage configuration
          li.list-group-item
            router-link(to="/EAR2") Electronic runbook in experiment EAR2
            | - The electronic runbook displays the following informations about a run: date, number of events, the run description, proton beam, sample and filters informations, amount of data acquired, ADC and high-voltage configuration
          li.list-group-item
            router-link(to="/stats") Statistics
            | - Allow a combination of the samples database with the electronic runbook, to extract proton information for a given experiment, or for a given period.
          li.list-group-item
            router-link(to="/slowinfo") Slowinfo
            | - Display parameters related to the #[span.red n]_TOF spallation target cooling station.
          li.list-group-item
            router-link(to="/doc") Documentation
            | - Provide some documentation about the #[span.red n]_TOF DAQ. Adding or editing capabilities depend on login.
          li.list-group-item
            router-link(to="/shifts") Shifts
            | - Here you will find the #[span.red n]_TOF picture gallery. #[span.red n]_TOF users are encouraged to contribute to the gallery.
    .order-1.col-12.order-md-2.col-md-4
      .card.border-scondary.text-center
        .card-header.side-card.bg-secondary.text-white Links
        .card-body.text-secondary
          | blahblah

      .card.border-scondary.text-center.mt-3
        .card-header.side-card.bg-secondary.text-white Upcoming events
        .card-body.text-secondary
          | blahblah
</template>

<script>
/* we directly use bootstrap to handle navbar navigation */
export default {
  name: 'AppHome'
}
</script>

<style scoped>
.red {
  color: red;
}

.card-header {
  font-weight: bold;
}

.card {
  margin-bottom: .75rem
}

.card-header.side-card {
  padding: 0 0
}
</style>
