<template lang="pug">
mixin form(id, title)
  .col-6.text-right.col-md-12.text-md-left.col-lg-6.text-lg-right
    label.form-label.text-secondary(for=id)= title
  .col-6.col-md-12.col-lg-6
    block

.card
  form.card-body.needs-validation.was-validated(novalidate="true" ref="form")
    .row.no-gutters.mb-2
      +form('materialType', 'Type of material')
        select.custom-select.custom-select-sm(id="materialType" v-model="materialType")
          option.text-right(:value="value" v-for="(value, key) in $options.materialTypeList") {{ key }}

    .row.no-gutters.mb-2
      +form('atomicMass', 'Atomic Mass')
        input.form-control.form-control-sm(id="atomicMass" type="text" pattern="[0-9]*" v-model="atomicMass")
        .invalid-feedback Atomic mass entry should be a number

    .row.no-gutters.mb-2
      +form('element', 'Element')
        input.form-control.form-control-sm(id="element" type="text" v-model="element")

    .row.no-gutters.mb-2
      +form('title', 'Title')
        input.form-control.form-control-sm(id="title" type="text" v-model="title")

    .row.no-gutters.mb-2
      +form('desc', 'Description')
        input.form-control.form-control-sm(id="desc" type="text" v-model="description")

    .text-right
      AnimBlock(:show="canSearch" animIn="popIn" animOut="popOut" :appear="false")
        button.btn-primary.btn.position-relative(type="submit" @click="onSubmit") Search
          HelpPopover(shortcut="enter" content="apply search criterias" direction="bottom")
</template>

<script>
import _ from 'lodash'

import AnimBlock from './BaseAnimationBlock.vue'
import HelpPopover from './BaseHelpPopover.vue'
import KeyMixin from './BaseKeyMixin'

export default {
  name: 'AppMaterialsSearch',
  mixins: [ KeyMixin ],
  materialTypeList: {
    'All': 'all',
    'Sample': 'samples',
    'Filter': 'filters',
    'Source': 'sources'
  },
  data() { return this.getDefaults(); },
  computed: {
    canSearch() {
      return _.some(this.getDefaults(),
        (value, key) => this.$data[key] !== value);
    }
  },
  mounted() {
    this.onKey('enter', this.onSubmit.bind(this));
  },
  methods: {
    getDefaults() {
      return {
        materialType: _.get(this, '$route.query.materialType', 'samples'),
        atomicMass: _.get(this, '$route.query.atomicMass', ''),
        element: _.get(this, '$route.query.element', ''),
        title: _.get(this, '$route.query.title', ''),
        description: _.get(this, '$route.query.description', '')
      };
    },
    onSubmit(e) {
      if (this.$refs.form.checkValidity()) {
        this.$emit('search', _.omitBy(this.$data, _.isEmpty));
      }
      e.preventDefault(); /* prevents browser from modifying url (and thus running pageIn animation) */
    },
    doReset() {
      var defaults = this.getDefaults();
      if (_.some(defaults, (value, key) => this.$data[key] !== value)) {
        _.assign(this.$data, defaults);
        return true;
      }
      return false;
    }
  },
  components: { AnimBlock, HelpPopover }
}
</script>

<style scoped>
.form-label {
  display: block;
  background-color: #e9ecef;
  padding: .25rem .75rem;
  font-size: .875rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 0rem;
}

form {
  margin-bottom: 0;
}

.was-validated .form-control:valid,
.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid {
  border: 1px solid #ced4da;
  box-shadow: inherit !important;
  background-image: none !important;
}
.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus {
  border-color: inherit !important;
  background-image: none !important;
}
</style>
