<template lang="pug">
mixin info(title)
  .row
    .col-4.col-md-2.text-right.info-title #[b= title]
    .col-8.col-md-10
      block

.container-fluid
  AnimLoader(:loading="loading")
    InfoCard(:canGoBack="canGoBack")
      template(slot="header")
        span {{ type }}  #[small.text-muted {{ item.title }}]

      template(slot="info")
        +info('Id') {{ item.id }}
        +info('Title') {{ item.title }}
        +info('Isotope')
          sup(v-if="item.atomicMass") {{ item.atomicMass }}
          | {{ item.element }}
        +info('Diameter') {{ item.diameterMm }}
        +info('Mass Mg') {{ item.massMg }}

      li.list-group-item(v-html="item.description")
</template>

<script>
import InfoCard from './BaseInfoCard.vue'
import AnimLoader from './BaseAnimationLoader.vue'
import sa from 'superagent'
import q from 'q'

export default {
  name: 'AppMaterialsSampleInfo',
  table: 'samples',
  mixins: [ InfoCard.Mixin ],

  data() {
    return {
      type: 'Sample',
      loading: true,
      item: {}
    };
  },
  mounted() { this.doFetch(); },
  methods: {
    doFetch() {
      this.loading = true;
      return sa.get('/db/' + this.$options.table + '/item/' + _.get(this.$route, 'params.id'))
      .then(
        (data) => {
          this.loading = false;
          this.item = data.body;
        },
        (err) => {
          this.loading = false;
          this.error = err;
        }
      );
    }
  },
  watch: {
    '$route.params': function(params, old) {
      if (!_.isEqual(params, old)) {
        this.doFetch();
      }
    }
  },
  components: { AnimLoader, InfoCard }
}
</script>

<style scoped>
div.info-title {
  padding-right: 0px;
}
</style>
