<template lang="pug">
.container-fluid
  .row
    .col-12.col-md-3.offset-lg-1.col-lg-3
      MaterialsSearch(ref="search" @search="onSearchChanged")

    .col-12.col-md-9.col-lg-7
      .row.bg-secondary.rounded.clickable
        .d-none.d-md-block.col-2.col-lg-1.text-white #[b #]
        .d-none.d-md-block.col-2.col-lg-1.text-white #[b Type]
        .col-4.col-md-3.text-white #[b Element]
        .col-8.col-md-5.col-lg-7.text-white #[b Title]
      AnimGroup#content
        .row.row-hover.rounded.clickable(v-for="item in data" :key="item.uri" @keyup.enter="onItemClick(item)" @click="onItemClick(item)" tabindex="0")
          .d-none.d-md-block.col-2.col-lg-1 {{ item.id }}
          .d-none.d-md-block.col-2.col-lg-1 {{ item.type }}
          .col-4.col-md-3.text-truncate
            sup(v-if="item.atomicMass") {{ item.atomicMass }}
            | {{ item.element }}
          .col-8.col-md-5.col-lg-7.text-truncate {{ item.title }}
      AnimBlock.abs-middle.text-center(:show="loading")
        .fa.fa-spinner.fa-pulse.abs-middle
</template>

<script>
import MaterialsSearch from './AppMaterialsSearch.vue'
import AnimBlock from './BaseAnimationBlock.vue'
import AnimGroup from './BaseAnimationGroup.vue'
import KeyMixin from './BaseKeyMixin'
import sa from 'superagent'
import q from 'q'

export default {
  name: 'AppMaterials',
  fields: [ 'title', 'description', 'element', 'atomicMass' ],
  mixins: [ KeyMixin ],
  data() {
    return {
      loading: true,
      data: null
    };
  },
  mounted() {
    this.onKey('esc', this.onEscape.bind(this));
    this.onKeyEmit('enter', 'keyup.enter');
    this.doSearch(this.$route.query);
  },
  methods: {
    onSearchChanged(criteria) {
      var query = _.omit(this.$route.query, this.$options.fields);
      this.$router.push({ query: _.assign(query, criteria) });
      /* doSearch will be called by route query watch */
    },
    onItemClick(item) {
      this.$router.push({ path: '/materials/' + item.type + '/' + item.id });
    },
    onEscape() {
      if (!this.$refs.search.doReset()) {
        /* was already reset, let's go clear the query */
        this.$router.push({ query: {} }); /* clear the query */
      }
    },
    doSearch(query) {
      this.loading = true;
      var prom;
      if (query.materialType === 'all') { /* special request, pull everything */
        prom = q.all([
          this.doQuery(query, 'samples'),
          this.doQuery(query, 'filters'),
          this.doQuery(query, 'sources') ])
        .then((ret) => {
          return _.orderBy(_.flatten(ret), 'id');
        });
      }
      else {
        prom = this.doQuery(query, query.materialType || 'samples');
      }

      prom
      .then(
        (data) => {
          this.loading = false;
          this.data = data;
        },
        (err) => {
          this.loading = false;
          console.log('error', err)
          this.error = err;
        }
      );
    },
    doQuery(query, type) {
      var displayType = _.trimEnd(type, 's');
      return sa.get('/db/' + type)
      .query({
        filter: _.pick(query, this.$options.fields),
        max: 10
       })
       .then((data) => {
         return _.each(data.body, (e) => {
           e.type = displayType;
           e.uri = '/' + type + '/' + e.id;
         });
       });
    }
  },
  watch: {
    '$route.query': function(query, old) {
      if (!_.isEqual(query, old)) {
        this.doSearch(this.$route.query);
      }
    }
  },
  components: { MaterialsSearch, AnimBlock, AnimGroup }
}
</script>

<style scoped>
</style>
