<template lang="pug">

mixin largeInfo(title)
  .row.align-items-center
    .col-4.col-lg-2.text-right.info-title #[b= title]
    .col-8.col-lg-10
      block

mixin info(title)
  .row.align-items-center
    .col-4.text-right.info-title #[b= title]
    .col-8
      block

mixin section(target)
  li.list-group-item.list-group-item-action.list-group-item-secondary.clickable(data-toggle="collapse" data-target=target)
    block


.container-fluid
  AnimLoader(:loading="loading")
    InfoCard(:canGoBack="canGoBack")
      template(slot="header")
        span Run #[small.text-muted {{ item.ntofID}} - {{ item.title }}]
      template(slot="info")
        .row
          .col-12
            +largeInfo('Id') {{ item.ntofID }}
            +largeInfo('Title') {{ item.title }}
          .col-12.col-lg-6
            +info('Area') {{ item.area }}
            +info('Status') #[.align-middle(:class="status.icon")] #[span.small ({{ status.name }})]
            template(v-if="status.name === 'finished'")
              +info('Flag') #[.align-middle(:class="flag.icon")] #[span.small ({{ flag.name }})]
          .col-12.col-lg-6
            +info('Start') {{ fmtDate(item.start, 'L LTS') }}
            +info('Stop') {{ fmtDate(item.start, 'L LTS') }}
            +info('Nb. Protons') {{ fmtExp(item.nbProtons, 3) }}
            +info('Nb. Segments') {{ item.nbSegments }}

      +section('#desc') Description
      li.list-group-item.collapse#desc
        div(v-html="item.description")

      +section('#comments') Comments
        span.badge.badge-primary.badge-pill.float-right(v-if="commentsCount") {{ commentsCount }}
      li.list-group-item.collapse#comments
        AppRunsInfoComments(:runID="item.id" @comments="onComments")

      template(slot="footer")
        .btn-group.float-right
          button.btn.btn-light.position-relative(@click="onPrevious")
            .fa.fa-angle-double-left
            HelpPopover(shortcut="left" content="previous run" direction="top")
          button.btn.btn-light.position-relative(@click="onNext")
            .fa.fa-angle-double-right
            HelpPopover(shortcut="right" content="next run" direction="bottom")
</template>

<script>
import InfoCard from './BaseInfoCard.vue'
import AnimLoader from './BaseAnimationLoader.vue'
import AppRunsInfoComments from './AppRunsInfoComments.vue'
import HelpPopover from './BaseHelpPopover.vue'
import Fmt from './BaseFmt.vue'
import KeyMixin from './BaseKeyMixin'
import _ from 'lodash'
import sa from 'superagent'

const AppRunsInfo = {
  name: 'AppRunsInfo',
  mixins: [ InfoCard.Mixin, Fmt, KeyMixin ],

  Status: { CRASHED: 0, FINISHED: 1, ONGOING: 2 },
  Flag: { FORCE_STOPPED: -1, OK: 1, BAD: 0 },

  StatusFmt: {
    0: { name: 'crashed', icon: [ 'far', 'fa-times-circle', 'text-danger' ] },
    1: { name: 'finished', icon: [ 'far', 'fa-check-circle', 'text-success' ] },
    2: { name: 'ongoing', icon: [ 'far', 'fa-play-circle', 'text-primary' ] },
    default: { name: 'unknown', icon: [ 'far', 'fa-question-circle' ] }
  },
  FlagFmt: {
    0: { name: 'BAD', icon: [ 'far', 'fa-times-circle', 'text-danger' ] },
    1: { name: 'OK', icon: [ 'far', 'fa-check-circle', 'text-success' ] },
    '-1': { name: 'STOPPED', icon: [ 'far', 'fa-stop-circle' ] },
    default: { name: 'unknown', icon: [ 'far', 'fa-question-circle' ] }
  },

  data() {
    return {
      loading: true,
      item: {},
      commentsCount: null
    }
  },
  computed: {
    status() {
      return AppRunsInfo.StatusFmt[this.item.status] || AppRunsInfo.StatusFmt.default;
    },
    flag() {
      return AppRunsInfo.FlagFmt[this.item.flag] || AppRunsInfo.FlagFmt.default;
    }
  },
  mounted() {
    this.doFetch();
    this.onKey('right', this.onNext.bind(this));
    this.onKey('left', this.onPrevious.bind(this));
  },
  methods: {
    doFetch() {
      this.loading = true;
      return sa.get('/db/runs/item/' + _.get(this.$route, 'params.id'))
      .then(
        (data) => {
          this.loading = false;
          this.item = data.body;
        },
        (err) => {
          this.loading = false;
          console.log('error', err)
          this.error = err;
        }
      );
    },
    onComments(comments) {
      this.commentsCount = _.size(comments);
    },
    move(direction) {
      if (this.loading) { return; } /* don't move whilst loading */
      var query = { max: 1 };
      if (direction > 0) {
        _.set(query, 'filter.id.gt', _.get(this.$route, 'params.id'));
        _.set(query, 'sort', 'id:asc');
      }
      else {
        _.set(query, 'filter.id.lt', _.get(this.$route, 'params.id'));
        _.set(query, 'sort', 'id:desc');
      }

      this.loading = true;
      return sa.get('/db/runs')
      .query(query)
      .then(
        (data) => {
          this.loading = false;
          if (_.size(data.body) === 1) {
            this.item = data.body[0];
            this.$router.push({ path: '/runs/' + this.item.id });
          }
        },
        (err) => {
          this.loading = false;
          console.log('error', err)
          this.error = err;
        }
      );
    },
    onPrevious() { this.move(-1); },
    onNext() { this.move(+1); }
  },
  watch: {
    '$route.params': function(params, old) {
      if (_.get(params, 'id') !== _.get(this.item, 'id')) {
        this.doFetch();
      }
    }
  },
  components: { AnimLoader, InfoCard, AppRunsInfoComments, HelpPopover }
}

export default AppRunsInfo;
</script>

<style scoped>
div.info-title {
  padding-right: 0px;
}
</style>
