<template lang="pug">
AnimLoader(:loading="loading")
  dl
    //- FIXME
    template(v-for="comment in comments")
      dt By {{ comment.userID }} on {{ fmtDate(comment.date) }}
      dd {{ comment.comments }}
</template>

<script>
import _ from 'lodash'
import AnimLoader from './BaseAnimationLoader.vue'
import Fmt from './BaseFmt.vue'
import sa from 'superagent'

export default {
  name: 'AppRunsInfoComments',
  mixins: [ Fmt ],

  props: { runID: { type: Number } },

  data() {
    return { loading: true, comments: null }
  },
  mounted() { this.doFetch(); },
  methods: {
    doFetch() {
      this.loading = true;
      this.comments = null;
      if (_.isNil(this.runID)) {
        this.loading = false;
        return;
      }
      return sa.get('/db/logBook')
      .query({
        filter: { runID: this.runID },
        sort: 'date:desc'
      })
      .then(
        (data) => {
          this.loading = false;
          this.comments = data.body;
        },
        (err) => {
          this.loading = false;
          console.log('error', err)
          this.error = err;
        }
      );
    }
  },
  watch: {
    'runID': function(value, old) {
      if (!_.isEqual(value, old)) {
        this.doFetch();
      }
    },
    'comments': function(comments) {
      this.$emit('comments', this.comments);
    }
  },
  components: { AnimLoader }
}
</script>

<style scoped>
</style>
