<template lang="pug">
.container-fluid
  AnimLoader.row(:loading="loading")
    .col-12.offset-lg-1.col-lg-10(:show="!loading" :options="{ cancel: true }")
      .row.d-none.d-md-flex.bg-secondary.rounded.small
        .col-sm-1.text-white #[b #]
        .col-sm-2.text-white #[b Start]
        .col-sm-2.text-white #[b Stop]
        .col-sm-2.col-lg-1.text-white #[b Nb. Protons]
        .col-sm-5.col-lg-6.text-white #[b Title]
      .row.d-md-none.bg-secondary.rounded
        .col-sm-12.text-white #[b {{ area }}]
      AnimGroup#content
        .row.rounded.mb-1(key="backward" v-if="canGoBackward")
          button.btn.btn-light.btn-block.position-relative(type="button" @click="doGoBackward")
            .fa.fa-angle-double-up
            HelpPopover(shortcut="up" content="display newer elements" direction="bottom")
        .row.row-hover.rounded.clickable.small(:class="{ 'text-primary': isOngoing(item), 'text-danger': isCrashed(item) }" v-for="item in data" :key="item.id" @keyup.enter="onItemClick(item)" @click="onItemClick(item)" tabindex="0")
          .col-sm-12.col-md-1
            .d-inline.d-md-none #[b= 'ID: ']
            | {{ item.ntofID }}
          .col-sm-12.col-md-2
            .d-inline.d-md-none #[b= 'Start: ']
            | {{ fmtDate(item.start, 'L') }} #[.d-none.d-md-inline.text-nowrap {{ fmtDate(item.start, 'LT') }}]
          .col-sm-12.col-md-2
            .d-inline.d-md-none #[b= 'Stop: ']
            | {{ fmtDate(item.stop, 'L') }} #[.d-none.d-md-inline.text-nowrap {{ fmtDate(item.stop, 'LT') }}]
          .d-none.d-md-block.col-md-2.col-lg-1 {{ fmtExp(item.nbProtons, 3) }}
          .d-md-none.col-sm-12(v-if="item.nbProtons")
            .d-inline.d-md-none #[b= 'Nb. Protons: ']
            | {{ fmtExp(item.nbProtons, 3) }}
          .col-sm-12.col-md-5.col-lg-6
            .d-inline.d-md-none #[b= 'Title: ']
            | {{ item.title }}
          //- horizontal rule for small displays
          .col-12.d-md-none
            hr.mt-1.mb-0
        .row.rounded.mt-1(key="forward" v-if="canGoForward")
          button.btn.btn-light.btn-block.position-relative(type="button" @click="doGoForward")
            .fa.fa-angle-double-down
            HelpPopover(shortcut="down" content="display older elements" direction="top")
</template>

<script>
import moment from 'moment'
import sa from 'superagent'

import Fmt from './BaseFmt.vue'
import AnimGroup from './BaseAnimationGroup.vue'
import AnimLoader from './BaseAnimationLoader.vue'
import Run from './AppRunsInfo.vue'
import KeyMixin from './BaseKeyMixin'
import HelpPopover from './BaseHelpPopover.vue'

export default {
  name: 'AppRuns',
  props: {
    area: { type: String, default: 'EAR1' },
    maxItems: { type: Number, default: 10 }
  },
  mixins: [ KeyMixin, Fmt ],
  data() {
    return {
      loading: true,
      data: null
    };
  },
  computed: {
    canGoForward() { return _.size(this.data) >= this.maxItems; },
    canGoBackward() { return _.get(this, '$route.query.offset', 0) > 0; }
  },
  mounted() {
    this.onKey('esc', this.onEscape.bind(this));
    this.onKey('up', this.doGoBackward.bind(this));
    this.onKey('down', this.doGoForward.bind(this));
    this.onKeyEmit('enter', 'keyup.enter');
    this.doSearch(this.$route.query);
  },
  methods: {
    onItemClick(item) {
      this.$router.push({ path: '/runs/' + item.id });
    },
    onEscape() {
      this.$router.push({ query: {} }); /* clear the query */
    },
    doSearch(query) {
      this.loading = true;
      return sa.get('/db/runs')
      .query({
        filter: { area: this.area },
        sort: 'start:desc',
        max: this.maxItems, offset: _.get(this, '$route.query.offset')
      })
      .then(
        (data) => {
          this.loading = false;
          this.data = data.body;
        },
        (err) => {
          this.loading = false;
          console.log('error', err)
          this.error = err;
        }
      );
    },
    doGoForward() {
      var query = _.cloneDeep(_.get(this, '$route.query')) || {};
      query.offset = this.getOffset() + this.maxItems;
      this.$router.push({ query });
    },
    getOffset() {
      return _.toNumber(_.get(this, '$route.query.offset', 0));
    },
    doGoBackward() {
      var query = _.cloneDeep(_.get(this, '$route.query')) || {};
      query.offset = Math.max(this.getOffset() - this.maxItems, 0);
      this.$router.push({ query });
    },
    isCrashed(item) {
      return item.status === Run.Status.CRASHED;
    },
    isOngoing(item) {
      return item.status === Run.Status.ONGOING;
    }
  },
  watch: {
    '$route.query': function(query, old) {
      if (!_.isEqual(query, old)) {
        this.doSearch(this.$route.query);
      }
    },
    area: function(query, old) {
      if (!_.isEqual(query, old)) {
        this.doSearch(this.$route.query);
      }
    }
  },
  components: { AnimGroup, AnimLoader, HelpPopover }
}
</script>

<style scoped>
/* button.btn-icon {
  border-radius: 50%;
  border: none;
} */
</style>
