<template lang="pug">
.base-popover.tooltip(:class="[{ show: show }, bsDirection]" role="tooltip")
  .arrow
  .tooltip-inner {{ content }}
</template>

<script>
import _ from 'lodash'

export default {
  name: 'BasePopover',
  props: {
    content: { type: String },
    show: { type: Boolean },
    direction: { type: String, default: 'left' }
  },
  computed: {
    'bsDirection': function() {
      return 'bs-tooltip-' + this.direction;
    }
  }
}
</script>

<style>
.base-popover.tooltip.bs-tooltip-right {
  top: 50%;
  left:100%;
  transform: translate(0, -50%);
}
.base-popover.tooltip.bs-tooltip-right>.arrow,
.base-popover.tooltip.bs-tooltip-left>.arrow {
  top: 50%;
  transform: translate(0, -50%);
}

.base-popover.tooltip.bs-tooltip-left {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}

.base-popover.tooltip.bs-tooltip-top {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
.base-popover.tooltip.bs-tooltip-top>.arrow,
.base-popover.tooltip.bs-tooltip-bottom>.arrow {
  left: 50%;
  transform: translate(-50%, 0);
}

.base-popover.tooltip.bs-tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
</style>
