<template lang="pug">
li.nav-item(:class='{ active }')
  router-link.nav-link(:to="path")
    slot
</template>

<script>
import Vue from 'vue'

export default {
  name: 'NavBarItem',
  props: [ 'path' ],
  computed: {
    active: function() {
      if (this.path === '/') {
        return this.$route.path === this.path;
      }
      return _.startsWith(this.$route.path, this.path);
    }
  }
}
</script>
