<template lang="pug">
transition-group(@enter="onEnter" @leave="onLeave" css=false :appear="appear")
  slot
</template>

<script>
import _ from 'lodash'
import Anim from './BaseAnimation'
import AnimBlock from './BaseAnimationBlock.vue'

/*
 * CSS animations are easier to achieve in an inline-block that has no
 * margins/padding, which is what this components does
 */
export default {
  name: 'BaseAnimationGroup',
  extends: AnimBlock
}
</script>

<style>
</style>
