<template lang="pug">
div
  slot(ref="block")
  transition(@enter="onEnter" @leave="onLeave" css=false appear=true)
    .abs-top-center.text-center(v-show="loading" :options="{ cancel: true }")
      .fa.fa-spinner.fa-pulse
</template>

<script>
import _ from 'lodash'
import Anim from './BaseAnimation'

/*
 * CSS animations are easier to achieve in an inline-block that has no
 * margins/padding, which is what this components does
 */
export default {
  name: 'BaseAnimationLoader',
  props: {
    loading: Boolean
  },
  methods: {
    onEnter(elt, done) {
      _.invoke(Anim, 'fadeIn', elt, { cancel: true }, done);
    },
    onLeave(elt, done) {
      _.invoke(Anim, 'fadeOut', elt, { cancel: true }, done);
    }
  },
  mounted() {
    this.$nextTick(() => {
      _.invoke(Anim, 'setOpacity',
        _.first(this.$slots.default), this.loading ? 0 : 1);
    });
  },
  watch: {
    loading: function() {
      this.$nextTick(() => {
        _.invoke(Anim,
          this.loading ? 'fadeOut' : 'fadeIn',
          _.first(this.$slots.default), { cancel: true });
      });
    }
  }
}
</script>

<style>
</style>
