<template lang="pug">
BaseAnimationBlock.tooltip.base-popover(:class="[{ show: sharedState.visible }, bsDirection]" role="tooltip" :show="sharedState.visible")
  .arrow
  .tooltip-inner.small
    .row.flex-nowrap.no-gutters.align-items-center
      .mt-1.mb-1.pr-1(v-if="shortcut")
        span.text-nowrap.shortcut {{ shortcut }}
      .text-left
        span {{ content }}
</template>

<script>
import Vue from 'vue'
import _ from 'lodash'
import Popover from './BasePopover.vue'
import KeyMixin from './BaseKeyMixin.js'
import BaseAnimationBlock from './BaseAnimationBlock.vue'

var sharedState = {
  visible: false,
  hasListener: false
};

const Listener = {
  mixins: [ KeyMixin ],
  data() { return { sharedState }; },
  created() {
    this.onKey('ctrl-h', (event) => {
      if (event.ctrlKey) {
        this.sharedState.visible = !this.sharedState.visible;
      }
    })
  }
};

export default {
  name: 'BaseHelpPopover',
  extends: Popover,
  props: {
    shortcut: { type: String }
  },
  data() { return { sharedState }; },
  mounted() {
    if (!this.sharedState.hasListener) {
      this.sharedState.hasListener = true;
      var listener = new Vue(Listener);
    }
  },
  components: { BaseAnimationBlock: BaseAnimationBlock }
}
</script>

<style scoped>
.shortcut {
  border-radius: .25em;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  padding: .25em .25em .25em .25em;
}
</style>
