<template lang="pug">
.row
  .col-sm-12.col-lg-10.offset-lg-1
    .card
      .card-header.text-truncate
        .float-right.position-relative(v-if='canGoBack')
          HelpPopover(shortcut="esc" content="back" direction="left")
          button.close(type="button" @click="onEscape")
            span(aria-hidden="true") &#x00D7;
        slot(name="header")

      ul.list-group.list-group-flush
        li.list-group-item
          slot(name="info")
        slot
        .card-body(v-if="hasFooter")
          button.btn-secondary.btn.btn-sm.position-relative(v-if="canGoBack" type="button" @click="onEscape") Back
            HelpPopover.close(shortcut="esc" content="back" direction="bottom")
          slot(name="footer")
</template>

<script>
import _ from 'lodash'
import KeyMixin from './BaseKeyMixin'
import HelpPopover from './BaseHelpPopover.vue'

export default {
  name: 'BaseInfoCard',
  mixins: [ KeyMixin ],
  props: {
    canGoBack: { type: Boolean, default: false }
  },
  computed: {
    hasFooter() {
      return this.canGoBack || _.has(this.$slots, 'footer');
    }
  },
  mounted() {
    this.onKey('esc', this.onEscape.bind(this));
  },
  methods: {
    onEscape() {
      if (this.canGoBack) {
        this.$router.go(-1);
      }
    }
  },
  /* mixin used to track route changes, nust be implemented in the route component */
  Mixin: {
    data() {
      return { canGoBack: false };
    },
    beforeRouteEnter(to, from, next) {
      next((vm) => {
        if (!_.isEmpty(_.get(from, 'name'))) {
          vm.canGoBack = true;
        }
      });
    }
  },
  components: { HelpPopover }
}
</script>

<style scoped>
.card-header {
  font-size: 1.3rem;
  font-weight: bold;
}
</style>
